# Database
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_HOST=127.0.0.1
DATABASE_PORT=33062

# REDIS_HOST
REDIS_HOST=127.0.0.1
REDIS_DB=0
REDIS_TIMEOUT=0.5

# Racecar
RACECAR_BROKERS=localhost:9092 # split by comma for multiple servers
RACECAR_GROUP_ID=flintstone
RACECAR_MAX_BYTES=1048576
RACECAR_CLIENT_ID=sleepsocial

# Leaderboard
LEADERBOARD_DATE_THRESHOLD_IN_DAYS=7